body {
  font-family: Helvetica, sans-serif;

  color: #A7B4C7;
  background-color: black;
}

#professional {
  display: none;
}

h2 {
  color: #C8D7EE;
}

.light-mode h2 {
  color: #333333;
}

.social-icons {
  font-size: 1.5em;
}

main {
  position: relative;
  top: 56px;
  height: calc(100vh - 56px);
  overflow: auto;

  padding-top: 20px;
  padding-bottom: 48px;
}

main, .navbar {
  padding-left: 24px;
  padding-right: 24px;
}

.btn.btn-primary {
  border: 1px solid white;
}

ul {
  list-style: none;
}

.project-list {
  padding-left: 2em;
}

.social-icon {
  height: 1em;
  margin-right: 0.5em;
}

.social-media-list > li {
  margin: 0.1em 0;
}

@media (min-width: 1000px) {
  main, .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
}
